.bar {
  width: 710px;
  height: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.inner-bar {
  width: 5%;
  height: 100%;
  background-color: lightgreen;
  border-radius: 2px;
}

.progress {
  font-size: 30px;
}