.card-container {
  height: 200px;
  width: 720px;
  border: 1px solid #949494;
  background-color: #334;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.name {
  font-size: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #949494;
}

